# Compiler files
cache/
out/
verification/**/cache/
verification/**/out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
deployments/allowance-holder/logs/
deployments/allowance-holder/verify/
deployments/openrouter/logs/
deployments/openrouter/verify/
deployments/verify/

# Docs
docs/

# Dotenv file
.env
.env.op

dist/

node_modules

/typechain
/artifacts
/cache_hardhat
/cache-hh
/artifacts-tron
/cache_hardhat-tron
sui/**/build/

.DS_Store
.cursor/rules/
